.calendar__date {
  display: inline-block;
  width: 14.28%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.calendar__date--header {
  color: #9a9a9a;
  font-size: 8px;
}

.calendar__date:hover {
  font-weight: bold;
  background: rgba(0, 150, 136, 0.3);
  cursor: pointer;
  border-radius: 5px;
}

.calendar__date.active {
    background: #009688;
    color: #fff;
    border-radius: 5px;
}

.calendar__date-container {
  font-size: 0;
  margin-top: 30px;
}

.calendar__date--overflow {
  color: #999;
  background: #efefef;
}
