.month {
  display: inline-block;
  margin-top: 10px;
}

.month__prev {
  position: absolute;
  left: 40px;
  top: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #a5a5a5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.month__next {
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #a5a5a5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.month__selector {
  display: inline-block;
  margin: 0 auto;
}
